<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChargeController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChargeController.Properties.Settings>
            <setting name="SelfUseMinSOC" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ForceDischargeMinSOC" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ForceDischargePower" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="ApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceSN" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateSchedules" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTemplate" serializeAs="String">
                <value>0</value>
            </setting>
        </ChargeController.Properties.Settings>
    </userSettings>
</configuration>